@import "./package/ALL_PACKAGE";
@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
	font-family: "Roboto", sans-serif;

	/* width */
	&::-webkit-scrollbar {
		width: 0.8rem;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: rgba(255, 255, 255, 0);
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: rgb(180, 180, 180);
		border-radius: 1rem;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: rgb(150, 150, 150);
	}
}
html {
	overflow: hidden;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
