@import "../../styles/package/ALL_PACKAGE";

.navigationBarRight {
	margin-left: auto;

	.loginBtn {
		display: block;
		padding: 0.8rem 1.8rem;
		text-decoration: none;
		color: #fff;
		transition: ease 400ms;
		background-color: $primaryColor;
		border-radius: 0.5rem;
		border: 0.2rem solid $primaryColor;

		&:hover {
			cursor: pointer;
			color: $primaryColor;
			background-color: #fff;
		}

		> p {
			font-size: 1.4rem;
			font-weight: 500;
		}
	}
}
