@import "../../styles/package/ALL_PACKAGE";

.textField {
	position: relative;
	margin-top: 2.6rem;
	color: $textColor;
	font-size: 1.5rem;

	&.error {
		> input {
			color: red !important;
			border-color: red !important;
		}

		> span,
		p {
			color: red !important;
		}
	}

	& ~ p.error {
		@include flex(row, center);
		color: red;
		font-size: 1.3rem;
		padding-left: 0.4rem;
		margin-top: 0.4em;

		i {
			margin-right: 0.4rem;
		}
	}

	& ~ p.alert {
		width: 100%;
		color: $primaryColorBlack;
		font-size: 1.3rem;
		background-color: #f1f1f1;
		border-radius: 0.4rem;
		margin-top: 0.6rem;
		transition: ease 300ms;

		&:not(:empty) {
			padding: 1rem;
		}
	}

	> input {
		@include size(100%, 4rem);
		border-radius: 0.8rem;
		border: 0.2rem solid #ccc;
		padding-inline: 1rem;
		transition: ease 300ms;
		outline: none;

		&:focus {
			border-color: $primaryColorBlack;

			& + span {
				transform: translateY(-4rem);
				color: $primaryColorBlack;
			}
		}

		&:not(:placeholder-shown) {
			& + span {
				transform: translateY(-4rem);
			}
		}
	}

	> span {
		@include flex(row, center, center);
		@include position(absolute, 50%, false, false, 1.3rem);
		transform: translateY(-50%);
		transition: ease 300ms;
		user-select: none;
		pointer-events: none;
		will-change: transform;

		p {
			margin-left: 0.8rem;
		}
	}
}
